
<div id="review-portal">
  To write a review:
  <br>
  <a class="btn btn-default" href="/users/sign_in">Sign In</a>
  <a class="btn btn-default" href="/ratings/new">Continue as Guest</a>
</div>

<br>

<div id="main" class="container">	
	<ul id="main-nav" class="nav nav-tabs">
		<li class="active"><a href="#rated" data-toggle="tab">Reviews</a></li>
		<li><a href="#animes" data-toggle="tab">Animes</a></li>
		<li><a href="#reccomended" data-toggle="tab">Reccomendations</a></li>
	</ul>

	<div id="main-body" class="tab-content clearfix">
  <div id="rated" class="tab-pane active">
   <h1>Highest Rated Reviews</h1>
		</div>

		<div id="animes" class="tab-pane">
   <h1>Animes</h1>
		</div>

  <div id="reccomended" class="tab-pane">
   <h1>Top Recommended Animes</h1>
		</div>
	</div> <!-- end #main-body -->
</div> <!-- end #main -->

<br style="clear: left;" />

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>