
<div id="review-portal">
  To write a review:
  <br>
  <a class="btn btn-default" href="/users/sign_in">Sign In</a>
  <br>
  or
  <br>
  <a class="btn btn-default" href="/ratings/new">Continue as Guest</a>
</div>
<br>
 <div class="animes" style="float: left; width: 200px;"><h1>Animes</h1><p><input id = "this" type="text" name="anime" placeholder="Search Anime"><button onclick="myFunction()">Search</button></p></div>
 <div class="rated" style="float: left; width: 800px;"><h1>Highest Rated Reviews</h1></div>

 <div class="reccomended"style="float: left; width: 200px;"><h1>Top Recommended Animes</h1></div>
 <br style="clear: left;" />