<h1>Fanime Reviews</h1>
<br>
<br>


<div style="width: 2000px;">

 <div class="animes" style="float: left; width: 200px;"><h1>Animes</h1></div>

 <div class="rated" style="float: left; width: 800px;"><h1>Highest Rated Reviews</h1></div>

 <div class="reccomended"style="float: left; width: 200px;"><h1>Top Reccomended Animes</h1></div>
 <br style="clear: left;" />
</div>
