
<% if !current_user %>
  <div id="review-portal">
    To write a review:
    <br>
    <a class="btn btn-default" href="/users/sign_in">Sign In</a>
    <a class="btn btn-default" href="/ratings/new">Continue as Guest</a>
  </div>
<% end %>


<br>

<div id="main" class="container">
	<ul id="main-nav" class="nav nav-tabs">
		<li class="active"><a href="#top-reviews" data-toggle="tab">Reviews</a></li>
		<li><a href="#anime-list" data-toggle="tab">Animes</a></li>
		<li><a href="#top-reccomendations" data-toggle="tab">Reccomendations</a></li>
	</ul>

	<div id="main-body" class="tab-content clearfix">
  <div id="top-reviews" class="tab-pane active">
   <h1>Highest Rated Reviews</h1>
		</div>

		<div id="anime-list" class="tab-pane">
   <h1>Animes</h1>
		</div>

  <div id="top-reccomendations" class="tab-pane">
   <h1>Top Recommended Animes</h1>
		</div>
	</div> <!-- end #main-body -->
</div> <!-- end #main -->

<br style="clear: left;" />

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
